<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Приложение использует камеру для загрузки фотографий заказа.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Приложению требуется доступ к микрофону для записи видео и голосовых соощений.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Приложению требуется доступ для добавления фотографий в вашу библиотеку.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Это приложение требует доступа к вашим документам.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Мой эксперт</string>
</dict>
</plist>
